body{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 10px;
    background-color: rgb(147, 255, 255);
}

section{
    margin: 200px;
}

.projects{
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 200px;
    
}

#bio, #work{
    background-color: antiquewhite;
    padding:15px;
}

footer{
    background-color: rgb(156, 252, 153);
    text-align: center;
    padding: 10px;
}













